.NET 4.x/wpf-wcf-ef/Presentation/LeaveSample.UI.Process/Service References/LeaveService/LeaveService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13619/LeaveService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LeaveSample.Entities" />
  <xs:element name="ListLogsByLeave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="leaveID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListLogsByLeaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LeaveSample.Entities" minOccurs="0" name="ListLogsByLeaveResult" nillable="true" type="q1:ArrayOfLeaveStatusLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeaveById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="leaveID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeaveByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LeaveSample.Entities" minOccurs="0" name="GetLeaveByIdResult" nillable="true" type="q2:Leave" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListLeavesByEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maximumRows" type="xs:int" />
        <xs:element minOccurs="0" name="startRowIndex" type="xs:int" />
        <xs:element minOccurs="0" name="sortExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="employee" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LeaveSample.Entities" minOccurs="0" name="category" nillable="true" type="q3:LeaveCategories" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LeaveSample.Entities" minOccurs="0" name="status" nillable="true" type="q4:LeaveStatuses" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListLeavesByEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LeaveSample.Entities" minOccurs="0" name="ListLeavesByEmployeeResult" nillable="true" type="q5:ArrayOfLeave" />
        <xs:element minOccurs="0" name="totalRowCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>