.NET 4.x/aspnet-wcf-daab/Presentation/LeaveSample.UI.Process/Service References/LeaveService/LeaveService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LeaveService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:13619/LeaveService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:13619/LeaveService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:13619/LeaveService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LeaveSample.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILeaveService_ListLogsByLeave_InputMessage">
    <wsdl:part name="parameters" element="tns:ListLogsByLeave" />
  </wsdl:message>
  <wsdl:message name="ILeaveService_ListLogsByLeave_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListLogsByLeaveResponse" />
  </wsdl:message>
  <wsdl:message name="ILeaveService_GetLeaveById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLeaveById" />
  </wsdl:message>
  <wsdl:message name="ILeaveService_GetLeaveById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLeaveByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILeaveService_ListLeavesByEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:ListLeavesByEmployee" />
  </wsdl:message>
  <wsdl:message name="ILeaveService_ListLeavesByEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListLeavesByEmployeeResponse" />
  </wsdl:message>
  <wsdl:portType name="ILeaveService">
    <wsdl:operation name="ListLogsByLeave">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeaveService/ListLogsByLeave" message="tns:ILeaveService_ListLogsByLeave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeaveService/ListLogsByLeaveResponse" message="tns:ILeaveService_ListLogsByLeave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLeaveById">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeaveService/GetLeaveById" message="tns:ILeaveService_GetLeaveById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeaveService/GetLeaveByIdResponse" message="tns:ILeaveService_GetLeaveById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListLeavesByEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeaveService/ListLeavesByEmployee" message="tns:ILeaveService_ListLeavesByEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeaveService/ListLeavesByEmployeeResponse" message="tns:ILeaveService_ListLeavesByEmployee_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicHttpLeaveService" type="tns:ILeaveService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListLogsByLeave">
      <soap:operation soapAction="http://tempuri.org/ILeaveService/ListLogsByLeave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeaveById">
      <soap:operation soapAction="http://tempuri.org/ILeaveService/GetLeaveById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListLeavesByEmployee">
      <soap:operation soapAction="http://tempuri.org/ILeaveService/ListLeavesByEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LeaveService">
    <wsdl:port name="basicHttpLeaveService" binding="tns:basicHttpLeaveService">
      <soap:address location="http://localhost:13619/LeaveService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>